.content {
    display: flex;
    justify-content: center;
    padding: 1.0rem;
}
input {
    margin: 0.1rem;
    border: 2px solid #2b2626;
    border-radius: 5px;
    width: 30rem;
    height: 1.8rem;
    padding-left: 0.5rem;
}
 .sub button{
    margin: 0.1rem;
    border: 2px solid #2b2626;
    border-radius: 5px;
    height: 1.8rem;
    padding-left: 0.5rem;
}
